<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <script src="/static/vue.global.js"></script>
    <title>freeboxrec</title>
    <base href="/">
  </head>

  <body>

    <div id="app">
      <div class="container border border-5">
	<div class="row">
	  <div class="col">
	    <h3>Chaîne à enregistrer:</h3>

	    <div style="overflow-y: scroll; max-height: 200px" class="border border-1">
	      <div v-for="chan in channels" class="form-check">
		<input type="radio" :id="'C' + chan.num" :value="chan.num" v-model="prog.chan"
		       class="form-check-input"/>
		<label :for="'C' + chan.num" class="form-check-label">
		  {{ chan.num }} - {{ chan.name }}</label>
	      </div>
	    </div>
	  </div> <!-- col -->

	  <div class="col">
	    <div>
	      <label for="dateSelector">Date de début: </label>
	      <input id="dateSelector" type="date" v-model="prog.date">
	    </div>

	    <div>
	      <label for="hourSelector">Heure de début: </label>
	      <select name="hour" id="hourSelector" v-model="prog.hour">
		<option v-for="h in range(24)" :value="h">{{h}} </option>
	      </select>
	      <select name="min" id="minSelector" v-model="prog.min">
		<option v-for="h in range(60)" :value="h">{{h}} </option>
	      </select>
	    </div>

	    <div class="btn-group btn-group-sm d-sm-flex border border-1" role="group">
	      <input type="button" value="<< 24h" v-on:click="date_add(-1)"
		     class="btn btn-secondary border flex-fill" >
	      <input type="button" value="<< 3h" v-on:click="time_add(-3)"
		     class="btn btn-secondary border flex-fill" >
	      <input type="button" value="Now"
		     v-on:click="update_day_time(new Date())"
		     class="btn btn-secondary border flex-fill" >
	      <input type="button" value="Ce soir"
		     v-on:click="reset_day_time()"
		     class="btn btn-secondary border flex-fill" >
	      <input type="button" value="3h >>" v-on:click="time_add(+3)"
		     class="btn btn-secondary border flex-fill" >
	      <input type="button" value="24h >>" v-on:click="date_add(+1)"
		     class="btn btn-secondary border flex-fill" >
	    </div>

	    <div>
	      <label for="durationSelector">Durée (minutes) :</label>
	      <input id="durationSelector" type="number" v-model="prog.duration" min="0"/>
	    </div>

	    <div>Heure de fin: {{prog_end_time}}</div>

	    <div class="input-group mb-3">
	      <div class="form-floating">
		<input id="titleSelector" type="text" v-model="prog.title"
		       class="form-control"/>
		<label for="titleSelector">Titre</label>
	      </div>
	    </div>

	    <p/>

	  </div> <!-- col -->
	</div> <!-- row -->

	<div class="row text-center">
	  <div>
	    <h3>Liste des programmes:</h3>
	  </div>
	  <div style="overflow-x: auto">
	    <table class="table">
	      <thead>
		<tr>
		  <th>Heure</th>
		  <th>Titre</th>
		  <th></th>
		</tr>
	      </thead>
	      <tbody>
		<tr v-for="e in epg">
		  <td>{{ time_start_end(e.date, e.duration) }}</td>
		  <td><em>{{ e.title }}</em></td>
		  <td>
		    <input type="button" value="Sélectionner"
			   v-on:click="selectEpg(e)"
			   v-if="dt_from_tstamp(e.date + e.duration) > (new Date())"
			   class="btn btn-secondary btn-sm">
		  </td>
		</tr>
	      <tbody>
	    </table>
	  </div>
	</div> <!-- row -->

	<div class="row text-center">
	  <div>
	    <input id="createRecording" type="button" value="Programmer l'enregistrement"
		   v-on:click="postRecording()"
		   class="btn btn-success">
	  </div>
	  <p/>
	</div> <!-- row -->
      </div> <!-- container -->

      <div class="container">
	<p>
      </div>

      <div class="container border border-5">
	<div class="row text-center">
	  <h3>Enregistrements programmés</h3>

	  <div style="overflow-x: auto">
	    <table class="table">
	      <thead>
		<tr>
		  <th>Chaîne</th>
		  <th>Date</th>
		  <th>Heure</th>
		  <th>Titre</th>
		  <th></th>
		</tr>
	      </thead>
	      <tbody>
		<tr v-for="rec in recordings">
		  <td>{{rec.channel}}</td>
		  <td>{{rec.date}}</td>
		  <td>{{ time_start_end(rec.tstamp, rec.duration_min*60) }}</td>
		  <td><em>{{rec.title}}</em></td>
		  <td>
		    <input type="button" value="Annuler"
			   v-on:click="postCancel(rec.id, rec.title)"
			   class="btn btn-danger btn-sm">
		  </td>
		</tr>
	      </tbody>
	    </table>
	  </div>
	</div> <!-- row -->
      </div> <!-- container -->

      <!-- debug -->
      <!-- <div>Prog: {{ prog }} </div> -->

    </div> <!-- app -->

    <script src="/static/app.js"></script>

  </body>

</html>
